Meta
doc
*.build.timestamp
*.log
*.DS_Store
*.project
.git
*.Rproj
*.Rproj.user
.RData
*.RDataTmp*
*.Rhistory
*.Rbuildignore
.Rproj.user
Prediction_Of_lncRNA_ORIGINAL_SCRIPT.R
TopoICSim_ORIGINAL_SCRIPT.R
.rda
inst/doc
*.renviron
*.rprofile
*.rproj
*.rproj.user
*.rhistory
*.rapp.history
*.o
*.sl
*.so
*.dylib
*.a
*.dll
*.def
*.ds_store
*.unsrturl.bst
*.aux
*.backups
*.cproject
*.directory
*.dropbox
*.exrc
*.gdb.history
*.gitattributes
*.gitmodules
*.hgtags
*.seed
*.settings
*.tm_properties
